.profile-photo {
    border-radius: 50%;
}

.title-background {
    background-color: #F7EED3;
}

.body-background {
    background-color: #FFF8E8;
}
.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}
.gallery-title {
    text-align: center;
    padding-bottom: 50px;
}


