body {
  text-align: center;
}
.title-background {
  background-color: #f7eed3;
}
.body-background {
  background-color: #fff8e8;
}
h1,
h2,
h3 {
  color: #674636;
}
hr {
  border-top: #674636 dotted 6px;
  margin-top: 0;
  width: 60px;
  margin: 0 auto;
}
.footer-background {
  background-color: #674636;
}
.footer-background .nav-link {
  color: #ffffff;
}

@media (max-width: 768px) {
  .profile-photo {
    height: auto;
    width: 80%;
  }
}