.title-background {
  background-color: #f7eed3;
}

.body-background {
  background-color: #fff8e8;
}
.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.footer-background {
  background-color: #674636;
}
.gallery-title {
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .container-grid {
    grid-template-columns: 1fr 1fr;

    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .container-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
